.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    width: 40vw;
    background-color: navy;
}

#sign-in {
    background-color: transparent;
    color: navy;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
}

#google-logo {
    width: 140px;
    height: 40px;
}

h1 {
    color: white;
    padding: 10px;
}
p {
    color: white;
}