/* App.css */
.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.main-app {
  display: flex;
  flex-grow: 1;
}

.servers-list,
.channels-list {
  width: 20%;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

.chat-room {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  gap: 10px;
}
